@font-face {
  font-family: iranyekan;
  src: url("./iranyekanweblight.woff") format("woff"),
    url("./iranyekanweblight.woff2") format("woff2");
  font-weight: 100 900;
}
@font-face {
  font-family: IRANSansX;
  src: url("./IRANSansXRegular.woff") format("woff"),
    url("./IRANSansXRegular.woff2") format("woff2");
  font-weight: 100 900;
}
@font-face {
  font-family: "CactusCircleDots";
  src: url("./CactusCircleDots.woff") format("woff"),
    url("./CactusCircleDots.woff2") format("woff2");
}

* {
  font-family: iranyekan;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
